$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$color-primary: #333;
$color-background: #ccc;
$color-active: #4a5;

@mixin v-align{
    top: 50%;
    transform: translateY(-50%);
    -ms-transform:translateY(-50%); /* IE */
    -moz-transform:translateY(-50%); /* Firefox */
    -webkit-transform:translateY(-50%); /* Safari and Chrome */
    -o-transform:translateY(-50%);
}

html{
  height: 100%;
}

body {
  font: 100% $font-stack;
  color: $color-primary;
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 1em;
  overflow: auto;
  height: 100%;
}

#targetcontainer{
  position: relative;
  overflow: hidden;
  height: 80%;
}

.target{
  position: absolute;
}

.top img, .bottom img{
  max-width: 25%;
}

.left img, .right img{
  max-width: 50%;
}

.top{
  top: 0%;
  width: 100%;
  text-align: center;
}

.right{
  right: 0%;
  width: 50%;
  text-align: right;
  @include v-align;
}

.bottom{
  bottom: 0%;
  width: 100%;
  text-align: center;
}

.left{
  left: 0%;
  width: 50%;
  text-align: left;
  @include v-align;
}

#hud{
  margin-top: 1em;
}

#progress{
  margin-top: .2em;
  background-color: $color-background;
}

#remaining{
  width:70%;
  background-color: $color-active;
}
