html {
  height: 100%; }

body {
  font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 1em;
  overflow: auto;
  height: 100%; }

#targetcontainer {
  position: relative;
  overflow: hidden;
  height: 80%; }

.target {
  position: absolute;
  font-size: 4rem;
  font-size: 20vw; }

/* max font size */
@media screen and (min-width: 768px) {
  .target {
    font-size: 154px; } }
.target a {
  text-decoration: none;
  color: #333; }

.top img, .bottom img {
  max-width: 25%; }

.top img, .top span {
  vertical-align: top; }

/* nudge text up to be in the same place as an image, despite room on top of the letter in the font */
.top span {
  display: block;
  margin-top: -.23em; }

.left img, .right img {
  max-width: 50%; }

.top {
  top: 0%;
  width: 100%;
  text-align: center;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-name: inTop;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease-out;
  -moz-animation-name: inTop;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 1s;
  -o-animation-timing-function: ease-out;
  -o-animation-name: inTop;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-name: inTop;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

@-webkit-keyframes inTop {
  from {
    margin-top: -100%; }
  to {
    margin-top: 0; } }
@-moz-keyframes inTop {
  from {
    margin-top: -100%; }
  to {
    margin-top: 0; } }
@-o-keyframes inTop {
  from {
    margin-top: -100%; }
  to {
    margin-top: 0; } }
@keyframes inTop {
  from {
    margin-top: -100%; }
  to {
    margin-top: 0; } }
.right {
  right: 0%;
  width: 50%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  /* IE */
  -moz-transform: translateY(-50%);
  /* Firefox */
  -webkit-transform: translateY(-50%);
  /* Safari and Chrome */
  -o-transform: translateY(-50%);
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-name: inRight;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease-out;
  -moz-animation-name: inRight;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 1s;
  -o-animation-timing-function: ease-out;
  -o-animation-name: inRight;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-name: inRight;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

@-webkit-keyframes inRight {
  from {
    margin-right: -100%; }
  to {
    margin-right: 0; } }
@-moz-keyframes inRight {
  from {
    margin-right: -100%; }
  to {
    margin-right: 0; } }
@-o-keyframes inRight {
  from {
    margin-right: -100%; }
  to {
    margin-right: 0; } }
@keyframes inRight {
  from {
    margin-right: -100%; }
  to {
    margin-right: 0; } }
.bottom {
  bottom: 0%;
  width: 100%;
  text-align: center;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-name: inBottom;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease-out;
  -moz-animation-name: inBottom;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 1s;
  -o-animation-timing-function: ease-out;
  -o-animation-name: inBottom;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-name: inBottom;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

@-webkit-keyframes inBottom {
  from {
    margin-bottom: -100%; }
  to {
    margin-bottom: 0; } }
@-moz-keyframes inBottom {
  from {
    margin-bottom: -100%; }
  to {
    margin-bottom: 0; } }
@-o-keyframes inBottom {
  from {
    margin-bottom: -100%; }
  to {
    margin-bottom: 0; } }
@keyframes inBottom {
  from {
    margin-bottom: -100%; }
  to {
    margin-bottom: 0; } }
.bottom img, .bottom span {
  vertical-align: bottom; }

.left {
  left: 0%;
  width: 50%;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  /* IE */
  -moz-transform: translateY(-50%);
  /* Firefox */
  -webkit-transform: translateY(-50%);
  /* Safari and Chrome */
  -o-transform: translateY(-50%);
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 1s;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-name: inLeft;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 1s;
  -moz-animation-timing-function: ease-out;
  -moz-animation-name: inLeft;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 1s;
  -o-animation-timing-function: ease-out;
  -o-animation-name: inLeft;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 1s;
  animation-timing-function: ease-out;
  animation-name: inLeft;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

@-webkit-keyframes inLeft {
  from {
    margin-left: -100%; }
  to {
    margin-left: 0; } }
@-moz-keyframes inLeft {
  from {
    margin-left: -100%; }
  to {
    margin-left: 0; } }
@-o-keyframes inLeft {
  from {
    margin-left: -100%; }
  to {
    margin-left: 0; } }
@keyframes inLeft {
  from {
    margin-left: -100%; }
  to {
    margin-left: 0; } }
#hud {
  margin-top: 1em;
  vertical-align: bottom; }

#progress {
  margin-top: .2em;
  background-color: #ccc; }

#remaining {
  width: 70%;
  background-color: #4a5; }

.item {
  margin-right: .1em;
  display: inline-block;
  border-bottom: 1px #333 solid; }

.item.space {
  border-bottom: none; }

.item-letter {
  visibility: hidden; }

.completed .item-letter {
  visibility: visible; }

.item img {
  max-width: 2em;
  max-height: 2em; }

/*# sourceMappingURL=card.css.map */
