html {
  height: 100%; }

body {
  font: 100% "Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
  background-color: #ccc;
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 1em;
  overflow: auto;
  height: 100%;
  text-align: center; }

.fullscreen {
  padding: 0;
  overflow-x: hidden; }

.fullscreen div {
  position: absolute;
  z-index: 9; }

.fullscreen img {
  display: block; }

#end {
  color: #fff; }

.staticscreen a {
  color: #fff; }

.fullscreen h1 {
  font-size: 2rem;
  font-size: 7vw;
  text-align: center;
  text-shadow: 0px 0px 1rem black; }

div.centered {
  left: 50%;
  transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  /* IE */
  -moz-transform: translateX(-50%);
  /* Firefox */
  -webkit-transform: translateX(-50%);
  /* Safari and Chrome */
  -o-transform: translateX(-50%); }

.staticscreen {
  position: relative;
  overflow: hidden;
  height: auto;
  display: inline-block;
  margin: 0 auto 0 auto; }

.staticscreen div {
  text-align: left;
  width: auto; }

#end-message {
  top: 1em; }

#buttons {
  right: 1rem;
  bottom: .5rem;
  z-index: 10; }

#buttons a {
  position: relative;
  display: inline-block;
  bottom: 0; }

#go-button {
  float: right;
  margin-top: 2em; }

#targetcontainer {
  position: relative;
  overflow: hidden;
  height: 83%; }

#instructions {
  background-color: #fff;
  padding: .5rem;
  border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  /* Firefox */
  -webkit-border-radius: 0.5rem;
  /* Safari and Chrome */ }

/* speech bubble pointer */
#instructions:after {
  content: '';
  position: relative;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: #fff transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin-left: -15px;
  bottom: -1.3em;
  left: 20%; }

#kepler {
  bottom: 0;
  left: 1rem; }

#kepler img {
  width: 100px;
  width: 20vw; }

.button {
  background-color: #283;
  padding: .5rem;
  color: #fff;
  border-radius: 0.5rem;
  -moz-border-radius: 0.5rem;
  /* Firefox */
  -webkit-border-radius: 0.5rem;
  /* Safari and Chrome */
  text-decoration: none;
  text-transform: uppercase; }

.button:hover {
  background-color: #4a5; }

.secondary {
  background-color: #666;
  margin-right: .5rem; }

.secondary:hover {
  background-color: #888; }

.fullscreen .button {
  font-size: .75rem;
  font-size: 4vw; }

.target, #feedback {
  position: absolute;
  font-variant-numeric: slashed-zero;
  font-size: 4rem;
  font-size: 20vw; }

#feedback {
  color: #283;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* IE */
  -moz-transform: translate(-50%, -50%);
  /* Firefox */
  -webkit-transform: translate(-50%, -50%);
  /* Safari and Chrome */
  -o-transform: translate(-50%, -50%); }

#feedback div {
  position: absolute;
  width: auto;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  /* IE */
  -moz-transform: translate(-50%, -50%);
  /* Firefox */
  -webkit-transform: translate(-50%, -50%);
  /* Safari and Chrome */
  -o-transform: translate(-50%, -50%);
  opacity: 0; }

/* show and quickly fade out the feedback on success or error */
#feedback div.active {
  opacity: 1;
  -webkit-animation-delay: 200ms;
  -webkit-animation-duration: 400ms;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-name: activeOut;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 200ms;
  -moz-animation-duration: 400ms;
  -moz-animation-timing-function: ease-out;
  -moz-animation-name: activeOut;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 200ms;
  -o-animation-duration: 400ms;
  -o-animation-timing-function: ease-out;
  -o-animation-name: activeOut;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 200ms;
  animation-duration: 400ms;
  animation-timing-function: ease-out;
  animation-name: activeOut;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

@-webkit-keyframes activeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-moz-keyframes activeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@-o-keyframes activeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
@keyframes activeOut {
  from {
    opacity: 1; }
  to {
    opacity: 0; } }
/* max font size */
@media screen and (min-width: 768px) {
  .target, #feedback {
    font-size: 154px; } }
.target a {
  text-decoration: none;
  color: #333; }

.top img, .bottom img {
  max-width: 25%; }

.top img, .top span {
  vertical-align: top; }

/* nudge text up to be in the same place as an image, despite room on top of the letter in the font */
.top span {
  display: block;
  margin-top: -.23em; }

.left img, .right img {
  max-width: 50%; }

.top {
  top: 0%;
  width: 100%;
  text-align: center;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 800ms;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-name: inTop;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 800ms;
  -moz-animation-timing-function: ease-out;
  -moz-animation-name: inTop;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 800ms;
  -o-animation-timing-function: ease-out;
  -o-animation-name: inTop;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 800ms;
  animation-timing-function: ease-out;
  animation-name: inTop;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

@-webkit-keyframes inTop {
  from {
    margin-top: -50%; }
  to {
    margin-top: 0; } }
@-moz-keyframes inTop {
  from {
    margin-top: -50%; }
  to {
    margin-top: 0; } }
@-o-keyframes inTop {
  from {
    margin-top: -50%; }
  to {
    margin-top: 0; } }
@keyframes inTop {
  from {
    margin-top: -50%; }
  to {
    margin-top: 0; } }
.top.out {
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 800ms;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-name: outTop;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 800ms;
  -moz-animation-timing-function: ease-in;
  -moz-animation-name: outTop;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 800ms;
  -o-animation-timing-function: ease-in;
  -o-animation-name: outTop;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 800ms;
  animation-timing-function: ease-in;
  animation-name: outTop;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

@-webkit-keyframes outTop {
  from {
    margin-top: 0; }
  to {
    margin-top: -50%; } }
@-moz-keyframes outTop {
  from {
    margin-top: 0; }
  to {
    margin-top: -50%; } }
@-o-keyframes outTop {
  from {
    margin-top: 0; }
  to {
    margin-top: -50%; } }
@keyframes outTop {
  from {
    margin-top: 0; }
  to {
    margin-top: -50%; } }
.right {
  right: 0%;
  width: 50%;
  text-align: right;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  /* IE */
  -moz-transform: translateY(-50%);
  /* Firefox */
  -webkit-transform: translateY(-50%);
  /* Safari and Chrome */
  -o-transform: translateY(-50%);
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 800ms;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-name: inRight;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 800ms;
  -moz-animation-timing-function: ease-out;
  -moz-animation-name: inRight;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 800ms;
  -o-animation-timing-function: ease-out;
  -o-animation-name: inRight;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 800ms;
  animation-timing-function: ease-out;
  animation-name: inRight;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

@-webkit-keyframes inRight {
  from {
    margin-right: -50%; }
  to {
    margin-right: 0; } }
@-moz-keyframes inRight {
  from {
    margin-right: -50%; }
  to {
    margin-right: 0; } }
@-o-keyframes inRight {
  from {
    margin-right: -50%; }
  to {
    margin-right: 0; } }
@keyframes inRight {
  from {
    margin-right: -50%; }
  to {
    margin-right: 0; } }
.right.out {
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 800ms;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-name: outRight;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 800ms;
  -moz-animation-timing-function: ease-in;
  -moz-animation-name: outRight;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 800ms;
  -o-animation-timing-function: ease-in;
  -o-animation-name: outRight;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 800ms;
  animation-timing-function: ease-in;
  animation-name: outRight;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

@-webkit-keyframes outRight {
  from {
    margin-right: 0; }
  to {
    margin-right: -50%; } }
@-moz-keyframes outRight {
  from {
    margin-right: 0; }
  to {
    margin-right: -50%; } }
@-o-keyframes outRight {
  from {
    margin-right: 0; }
  to {
    margin-right: -50%; } }
@keyframes outRight {
  from {
    margin-right: 0; }
  to {
    margin-right: -50%; } }
.bottom {
  bottom: 0%;
  width: 100%;
  text-align: center;
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 800ms;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-name: inBottom;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 800ms;
  -moz-animation-timing-function: ease-out;
  -moz-animation-name: inBottom;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 800ms;
  -o-animation-timing-function: ease-out;
  -o-animation-name: inBottom;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 800ms;
  animation-timing-function: ease-out;
  animation-name: inBottom;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

@-webkit-keyframes inBottom {
  from {
    margin-bottom: -50%; }
  to {
    margin-bottom: 0; } }
@-moz-keyframes inBottom {
  from {
    margin-bottom: -50%; }
  to {
    margin-bottom: 0; } }
@-o-keyframes inBottom {
  from {
    margin-bottom: -50%; }
  to {
    margin-bottom: 0; } }
@keyframes inBottom {
  from {
    margin-bottom: -50%; }
  to {
    margin-bottom: 0; } }
.bottom.out {
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 800ms;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-name: outBottom;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 800ms;
  -moz-animation-timing-function: ease-in;
  -moz-animation-name: outBottom;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 800ms;
  -o-animation-timing-function: ease-in;
  -o-animation-name: outBottom;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 800ms;
  animation-timing-function: ease-in;
  animation-name: outBottom;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

@-webkit-keyframes outBottom {
  from {
    margin-bottom: 0; }
  to {
    margin-bottom: -50%; } }
@-moz-keyframes outBottom {
  from {
    margin-bottom: 0; }
  to {
    margin-bottom: -50%; } }
@-o-keyframes outBottom {
  from {
    margin-bottom: 0; }
  to {
    margin-bottom: -50%; } }
@keyframes outBottom {
  from {
    margin-bottom: 0; }
  to {
    margin-bottom: -50%; } }
.bottom img, .bottom span {
  vertical-align: bottom; }

.left {
  left: 0%;
  width: 50%;
  text-align: left;
  top: 50%;
  transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  /* IE */
  -moz-transform: translateY(-50%);
  /* Firefox */
  -webkit-transform: translateY(-50%);
  /* Safari and Chrome */
  -o-transform: translateY(-50%);
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 800ms;
  -webkit-animation-timing-function: ease-out;
  -webkit-animation-name: inLeft;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 800ms;
  -moz-animation-timing-function: ease-out;
  -moz-animation-name: inLeft;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 800ms;
  -o-animation-timing-function: ease-out;
  -o-animation-name: inLeft;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 800ms;
  animation-timing-function: ease-out;
  animation-name: inLeft;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

@-webkit-keyframes inLeft {
  from {
    margin-left: -50%; }
  to {
    margin-left: 0; } }
@-moz-keyframes inLeft {
  from {
    margin-left: -50%; }
  to {
    margin-left: 0; } }
@-o-keyframes inLeft {
  from {
    margin-left: -50%; }
  to {
    margin-left: 0; } }
@keyframes inLeft {
  from {
    margin-left: -50%; }
  to {
    margin-left: 0; } }
.left.out {
  -webkit-animation-delay: 0s;
  -webkit-animation-duration: 800ms;
  -webkit-animation-timing-function: ease-in;
  -webkit-animation-name: outLeft;
  -webkit-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -moz-animation-delay: 0s;
  -moz-animation-duration: 800ms;
  -moz-animation-timing-function: ease-in;
  -moz-animation-name: outLeft;
  -moz-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  -o-animation-delay: 0s;
  -o-animation-duration: 800ms;
  -o-animation-timing-function: ease-in;
  -o-animation-name: outLeft;
  -o-animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */
  animation-delay: 0s;
  animation-duration: 800ms;
  animation-timing-function: ease-in;
  animation-name: outLeft;
  animation-fill-mode: forwards;
  /* this prevents the animation from restarting! */ }

@-webkit-keyframes outLeft {
  from {
    margin-left: 0; }
  to {
    margin-left: -50%; } }
@-moz-keyframes outLeft {
  from {
    margin-left: 0; }
  to {
    margin-left: -50%; } }
@-o-keyframes outLeft {
  from {
    margin-left: 0; }
  to {
    margin-left: -50%; } }
@keyframes outLeft {
  from {
    margin-left: 0; }
  to {
    margin-left: -50%; } }
#hud {
  margin-top: 1em;
  vertical-align: bottom;
  text-align: left; }

#progress {
  margin-top: .2em;
  background-color: #ccc; }

#remaining {
  width: 70%;
  background-color: #283; }

.item {
  margin-right: .1em;
  display: inline-block;
  border-bottom: 1px #333 solid; }

.item.space {
  border-bottom: none; }

.item-letter {
  visibility: hidden; }

.completed .item-letter {
  visibility: visible; }

.item img {
  max-width: 2em;
  max-height: 2em; }

.lightning {
  position: absolute;
  z-index: 10;
  width: 216px;
  height: 120px;
  top: 0;
  user-drag: none;
  user-select: none;
  -moz-user-select: none;
  -webkit-user-drag: none;
  -webkit-user-select: none;
  -ms-user-select: none; }

.lightningLeft {
  left: -216px; }

.lightningRight {
  right: -216px;
  -moz-transform: scale(-1, 1);
  -o-transform: scale(-1, 1);
  -webkit-transform: scale(-1, 1);
  transform: scale(-1, 1);
  display: none; }

/*# sourceMappingURL=card.css.map */
