$font-stack: "Helvetica Neue", Helvetica, Arial, sans-serif;
$color-primary: #333;
$color-background: #ccc;
$color-active: #4a5;
$color-triggered: #283;
$color-speech-bubble: #fff;
$color-button-text: #fff;
$color-end-screen: #fff;
$large: 768px;
$animation-time: 800ms;

@mixin v-align{
    top: 50%;
    transform: translateY(-50%);
    -ms-transform:translateY(-50%); /* IE */
    -moz-transform:translateY(-50%); /* Firefox */
    -webkit-transform:translateY(-50%); /* Safari and Chrome */
    -o-transform:translateY(-50%);
}

@mixin h-align{
    left: 50%;
    transform: translateX(-50%);
    -ms-transform:translateX(-50%); /* IE */
    -moz-transform:translateX(-50%); /* Firefox */
    -webkit-transform:translateX(-50%); /* Safari and Chrome */
    -o-transform:translateX(-50%);
}

@mixin animation ($delay, $duration, $timing, $animation) {
    -webkit-animation-delay: $delay;
    -webkit-animation-duration: $duration;
    -webkit-animation-timing-function: $timing;
    -webkit-animation-name: $animation;
    -webkit-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -moz-animation-delay: $delay;
    -moz-animation-duration: $duration;
    -moz-animation-timing-function: $timing;
    -moz-animation-name: $animation;
    -moz-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    -o-animation-delay: $delay;
    -o-animation-duration: $duration;
    -o-animation-timing-function: $timing;
    -o-animation-name: $animation;
    -o-animation-fill-mode: forwards; /* this prevents the animation from restarting! */

    animation-delay: $delay;
    animation-duration: $duration;
    animation-timing-function: $timing;
    animation-name: $animation;
    animation-fill-mode: forwards; /* this prevents the animation from restarting! */
}

@mixin mykeyframe ($animation_name) {
    @-webkit-keyframes #{$animation_name} {
        @content;
    }

    @-moz-keyframes #{$animation_name} {
        @content;
    }

    @-o-keyframes #{$animation_name} {
        @content;
    }

    @keyframes #{$animation_name} {
        @content;
    }
}

@mixin border-radius ($radius) {
  border-radius: $radius;
  -moz-border-radius: $radius; /* Firefox */
  -webkit-border-radius: $radius; /* Safari and Chrome */
}

html{
  height: 100%;
}

body {
  font: 100% $font-stack;
  color: $color-primary;
  background-color: $color-background;
  display: block;
  position: relative;
  box-sizing: border-box;
  padding: 1em;
  overflow: auto;
  height: 100%;
  text-align: center;
}

.fullscreen{
  padding:0;
}

.fullscreen div{
  position: absolute;
  z-index: 9;
  top:1em;
}

.fullscreen img{
  display:block;
}

#end h1{
  color: $color-end-screen;
  font-size: 2rem;
  font-size: 7vw;
  text-align: center;
  text-shadow: 0px 0px 1rem rgba(0, 0, 0, 1);
}

div.centered{
  @include h-align;
}

.staticscreen{
  position:relative;
  overflow: hidden;
  height: auto;
  display: inline-block;
  margin: 0 auto 0 auto;
}

.staticscreen div{
  text-align: left;
  width: auto;
}

#go-button{
  float: right;
  margin-top: 2em;
}

#targetcontainer{
  position: relative;
  overflow: hidden;
  height: 80%;
}

#instructions{
  background-color: $color-speech-bubble;
  padding: .5rem;
  @include border-radius(.5rem);
}

/* speech bubble pointer */
#instructions:after{
  content: '';
  position: relative;
  border-style: solid;
  border-width: 15px 15px 0;
  border-color: $color-speech-bubble transparent;
  display: block;
  width: 0;
  z-index: 1;
  margin-left: -15px;
  bottom: -1.3em;
  left: 20%;
}

.button{
  background-color: $color-active;
  padding: .5rem;
  color: $color-button-text;
  @include border-radius(.5rem);
  text-decoration: none;
  text-transform: uppercase;
}

.button:hover{
  background-color: $color-triggered;
}

.target{
  position: absolute;
  font-size: 4rem;
  font-size: 20vw;
}

/* max font size */
@media screen and (min-width: $large) {
  .target{
    font-size: 154px;
  }
}

.target a{
  text-decoration: none;
  color: $color-primary;
}

.top img, .bottom img{
  max-width: 25%;
}

.top img, .top span{
  vertical-align: top;
}

/* nudge text up to be in the same place as an image, despite room on top of the letter in the font */
.top span{
  display: block;
  margin-top: -.23em;
}

.left img, .right img{
  max-width: 50%;
}

.top{
  top: 0%;
  width: 100%;
  text-align: center;
  @include animation(0s,$animation-time,ease-out,inTop);
}
@include mykeyframe(inTop){ from{margin-top: -50%;} to{margin-top: 0;} }

.top.out{
  @include animation(0s,$animation-time,ease-in,outTop);
}
@include mykeyframe(outTop){ from{margin-top: 0;} to{margin-top: -50%;} }

.right{
  right: 0%;
  width: 50%;
  text-align: right;
  @include v-align;
  @include animation(0s,$animation-time,ease-out,inRight);
}
@include mykeyframe(inRight){ from{margin-right:-50%;} to{margin-right:0;} }

.right.out{
  @include animation(0s,$animation-time,ease-in,outRight);
}
@include mykeyframe(outRight){ from{margin-right: 0;} to{margin-right: -50%;} }

.bottom{
  bottom: 0%;
  width: 100%;
  text-align: center;
  @include animation(0s,$animation-time,ease-out,inBottom);
}
@include mykeyframe(inBottom){ from{margin-bottom:-50%;} to{margin-bottom:0;} }

.bottom.out{
  @include animation(0s,$animation-time,ease-in,outBottom);
}
@include mykeyframe(outBottom){ from{margin-bottom: 0;} to{margin-bottom: -50%;} }

.bottom img, .bottom span{
  vertical-align: bottom;
}

.left{
  left: 0%;
  width: 50%;
  text-align: left;
  @include v-align;
  @include animation(0s,$animation-time,ease-out,inLeft);
}
@include mykeyframe(inLeft){ from{margin-left:-50%;} to{margin-left:0;} }

.left.out{
  @include animation(0s,$animation-time,ease-in,outLeft);
}
@include mykeyframe(outLeft){ from{margin-left: 0;} to{margin-left: -50%;} }

#hud{
  margin-top: 1em;
  vertical-align: bottom;
  text-align: left;
}

#progress{
  margin-top: .2em;
  background-color: $color-background;
}

#remaining{
  width:70%;
  background-color: $color-active;
}

.item{
  margin-right: .1em;
  display: inline-block;
  border-bottom: 1px $color-primary solid;
}

.item.space{
  border-bottom: none;
}

.item-letter{
  visibility: hidden;
}

.completed .item-letter{
  visibility: visible;
}

.item img{
  max-width: 2em;
  max-height: 2em;
}
